body{
    background-color: grey;
    color: white;
}

#Users, #Stats{
    float: left;
}

#Stats{
    margin-left: 10%;
    display: none;
}

td, tr{
    background-color: lightgrey;
    color: black;
    border-collapse: collapse;
}

#userTable tr:hover td {
    background: grey;
    color: white;
}

td, th{
    text-align: center;
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
}

table{
    border-spacing: 0px;
    border: 2px black solid
}

th{
    background-color: grey;
    color: white;
}