.submit {
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    width: auto;
    height: auto;
    background: var(--clr-purple);
    cursor: pointer;
    color: var(--clr-white);;
  }
  
.submit:hover {
background-color: var(--clr-submitHover);
}

/*This is navbar and footer-div*/
.primary-header, .footer{
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: row;
    box-shadow: var(--shadows);
}
.logo {
  max-height: 100px;
  max-width: 100px;
}
/*This is toggle button style (=) hidden*/
.toggle-btn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: var(--foreground);
    border-radius: 10px;
  }
  .tabs, .list {
  display: flex;
  gap: var(--gap, 1rem);
  list-style-type: none;
}

.tab {
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  line-height: 1.5;
}

.tab:hover {
  background-color: var(--clr-hover);
}
  .brand-title{
  font-size: 1.5rem;
  flex-grow: 1;
  font-weight:bold;
      cursor: pointer;

}
.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 80rem;
}
  /*navbar, footer change to a column list when screensize smaller than 800px, toggle button appears*/
  @media (max-width: 840px) {
    .primary-header, .list {
        flex-direction: column;
        align-items: flex-start;
        min-height: 50px;
    }
  
    .logo{
      position: relative;
      top: 0.7rem;
      left: 0.5rem;
    }
    .brand-title{
        position: absolute;
        top: .5rem;
        left: 5rem;
      }
    .toggle-btn {
        display: flex;
    }
  
    .navbar-links {
        display: none;
        width: 100%;
    }
  
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
  
    .navbar-links ul li {
        text-align: center;
    }
  
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
  
    .navbar-links.active {
        display: flex;
    }
  }