body{
    background-color: var(--color-primary);
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
}


.theme-light {
  --color-primary: rgb(136, 136, 136);
  --color-background: rgb(207, 205, 205);
  --font-color: #000000;
  --color-possetive: #0E86F4;
  --color-negative: #DC3131;
  --color-active : #000000;
  --shadows : rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.theme-dark {
  --color-primary: #000000;
  --color-background: #101010;
  --font-color: #d3d1d1;
  --color-possetive: #0E86F4;
  --color-negative: #DC3131; 
  --color-active : #ffffff;
  --shadows : rgba(148, 148, 148, 0.25) 0px 6px 12px -2px, rgba(255, 254, 254, 0.3) 0px 3px 7px -3px;

}

.card-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3rem;
}

.button-container{
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: 1fr ;
    align-content: center;

}
.possetive{
        background-color:var(--color-possetive);
        color: black;
}
.negative{
        background-color:var(--color-negative);
        color: black;

}

.bActive{
    background-color:var(--color-active);
    color: var(--color-background);
}


.card {
    display: grid;
    width: 238px;
    height: 284px;
    background-color: var(--color-background);
    z-index: 1;


}
.card *{
    margin: 10%;
}
.card h2{
  font-size: 1.25rem;
}
.card-name{
  grid-column: 1;
  grid-row: 1;
}
.card-goal{
 grid-column: 1;
  grid-row: 3;
}

.card h1{
  font-size: 3rem;

}
.card-current{
grid-column: 1,2;
}
.card-button{
    grid-column: 2;
    font-size: 30px;
    width: 30px;
    height: 30px;
    justify-self: end;
    cursor: pointer;
} 
.add-remove-tracker{
      justify-self: center;
}
.filter-buttons{
      justify-self: center;
}

ul{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-background);
    box-shadow:var(--shadows);
    margin-inline: auto;
    max-width: 60rem;
} 


li {
    display: inline;
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;

  
}


input{
    font-size: 1rem;
    height: 1.2rem;
    width: 50%;
    background-color: var(--color-background);
    color: var(--font-color);
    border: none;
    
}
.form_element{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.form_element *{
    margin:0 1rem;
}
.form_title{
    margin: 0;
    text-align: center;
}
.form_button{
    height: 40px;
    width: 60px;
}

button{
    margin: 0.2rem;
    width: 70px;
    height: 60px;
    border: none;
    text-align: center;
    font-size: 1rem;
    background-color:var(--color-background) ;
    color: var(--font-color);
    cursor: pointer;
}

[data-tab-content] {
    display: none;
}
  
.active[data-tab-content] {
  display: block;
}

.graph-container {
    max-width: 45vw; 
    min-width: 350px; 
    margin:auto;
}
  
.graph-canvas {
    margin-top: 50px;
}
  


@media screen  and (min-width: 600px) { 
    button{ width: 90px;
    height: 60px;
    font-size: 1.5rem;
}
   
    .card-container{
        grid-template-columns: 1fr 1fr;
        
    }
    .button-container{
        grid-template-columns: 2fr 1fr ;

}
}
@media screen  and (min-width: 650px) { 
    .add-remove-tracker{
      justify-self: end;
}
    .filter-buttons{
        justify-self: start;
}
    
    .button-container{
        margin: 2rem 2.5%;

}

}
@media screen  and (min-width: 900px) { 
    
    .card-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    button{
    margin: 1rem;
    width: 102px;
    height: 60px
}
}

@media screen  and (min-width: 1200px) { 
    
    .card-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen  and (min-width: 1500px) { 
    
    .card-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}