<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/tracker_page.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
            rel="stylesheet">
        <script src="../javascripts/tracker_page.js" type="text/javascript"
            defer> </script>
        <title>TrackMyTime</title>
    </head>
    <body class="theme-dark">
        <div class="nav-container theme-dark">
            <nav>
                <ul>
                    <li><a href="http://">Settings</a></li>
                    <li class="current"><a href="http://">Home</a></li>
                    <li><a href="http://">Graph</a></li>
                </ul>
            </nav>
        </div>
        <div class="button-container theme-dark">
            <div class="filter-buttons">
                <button>Day</button>
                <button class="active">Week</button>
                <button>Year</button>
                <button>All</button>
            </div>
            <div class="add-remove-tracker">
                <button class="negative">Delete</button>
                <button class="possetive">Add</button>
            </div>
        </div>

        <div id="card-container" class="card-container theme-dark">


        </div>


    </body>
</html>