<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
            rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="../assets/favicon.svg">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/theme.css">
        <link rel="stylesheet" href="../css/input-forms.css">
        <link rel="stylesheet" href="../css/nav-bar-btn.css">

        <link rel="stylesheet" href="../css/tracker_page.css">

        <script src="../javascripts/tracker_page.js" defer> </script>
        <script src="../javascripts/shared.js" defer></script>
        <script src="../javascripts/templates.js" defer> </script>
        <title>TrackMyTime</title>
    </head>
    <body>
        <header class="primary-header container">
            <div class="logo-title-container">
                <div class="logo">
                    <!-- <img src="../assets/logo.PNG" alt="logo of the website"> -->
                    <i class="fas fa-clock"></i>
                </div>
                <div class="brand-title" onclick="window.location= '/';">Track
                    my
                    time</div>

                <a href="#" class="toggle-btn">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
            </div>
            <div class="navbar-links">
                <ul class="tabs">
                    <li data-tab-target="#profile" class="tab">Profile</li>
                    <li data-tab-target="#trackers" class="tab">Trackers</li>
                    <li data-tab-target="#graphs" class="tab">Graphs</li>
                    <li class="tab" onclick="logout()">Log out</li>
                    <li class="tab" onClick="theme_switch()"><span
                            id="themeSwitch"
                            class="fas"></span></li>

                </ul>
            </div>

        </header>
        <div id="profile" data-tab-content>
        </div>
        <div id="graphs" data-tab-content>
            <div id="graph-container" class="graph-container">
            </div>
        </div>
        <div id="trackers" data-tab-content class="active">

        </div>

    </body>
    <script src="../javascripts/graphs.js" type="text/javascript"
        defer> </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>
