




.card-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
}

.button-container{
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: space-between;

}




.possetive{
        background-color:var(--clr-purple);
}
.negative{
        background-color:var(--clr-error);
}

.delete{
    display: flex;
    flex-direction: column;
}



.delete button{
    margin: 0.2rem 0 0 0.2rem;
 
}

.bActive{
    background-color:var(--clr-purple);
    color: var(--clr-white);
}


.card {
    display: grid;
    width: 238px;
    height: 284px;
    background-color: var(--background);
    z-index: 1;
    grid-template-columns: 170px  auto;
        box-shadow: var(--shadows);

    grid-template-rows: 1fr  1fr 1fr 1fr;
}
.card *{
    margin-left: 1rem;
    font-size: 3rem;
    align-self: center;
    padding: 0;

}
.card h1{
  grid-column: 1;
}
.card h2{
  color: var(--foreground);
  font-size: 1.25rem;
  white-space: nowrap; 
  overflow: hidden;
  background-color: var(--background);
  text-overflow: ellipsis;
  padding-right: 0;

}

.card-goal{
 grid-column: 1;
  grid-row: 4;
  display: flex;
  margin: 0;
}
.card-goal h2{
  font-size: 0.9rem;

}

.card-hidden{
    display: none;
}



.card-button{
    margin: 0;
    font-size: 1.5rem;
    width: 30px;
    cursor: pointer;
    justify-self: end;
    height: 30px;
}

#filter-buttons{
      justify-self: center;
}

.edit_tracker{
    width: inherit;
    height: inherit;
}


.card input{
    height: 2.7rem;
    width: 100%;
    background-color: var(--background);
    color: var(--foreground);
    margin-left: 0;
    outline: 0;
    
}
.addtime_buttons{
    display: flex;
    margin-left: 0;
    justify-content: center;

}
.form_text{
    grid-row: 1;
    grid-column: 1/3;
    font-size: 1.25rem;
    border: 0;
    width: 4ch;
    text-align: center;

}
.form-title{
    font-size: 2rem;
}
.form-input{
    border:0;
    grid-column: 2;
    width: 4ch;
    font-size: 2rem;
    text-align: center;
    padding-right: 0.5rem;

}


.form_color{
  grid-row: 3;
     width: 74px;
     height: 42px;
}


.form_button{
    font-size: 2rem;
    text-align: center;
    grid-row: 4;
    cursor: pointer;

}
.form_buttons{
    grid-column: 1/3;
    margin: 0;
    display: flex;
    justify-content: space-around;

}
button{
    margin: 0.2rem;
    width: 70px;
    height: 60px;
    text-align: center;
    font-size: 1rem;
    background-color:var(--clr-columnhover);
    color: var(--foreground);
    cursor: pointer;
    
}
button:hover{
      background-color: var(--clr-hover);

}
[data-tab-content] {
    display: none;
}
  
.active[data-tab-content] {
  display: block;
}
@media screen  and (min-width: 400px) {  
    .button-container{
        grid-template-columns: 4fr 1fr ;
    }
}


progress {
    width: 90px;
    height: 20px;
    background-color: var(--clr-columnhover);
}
progress::-webkit-progress-bar {
    width:  100%;
    height: 20px;
    background-color: var(--clr-columnhover);

}
progress::-webkit-progress-value {
    width:  100%;
    height: 20px;
      background-color: var(--foreground);

}
progress::-moz-progress-bar {
    width:  100%;
    height: 100%;
    background-color: var(--foreground);

}


.graph-container {
    max-width: 40rem;
    margin:auto;
    margin-bottom: 100px;
}
  
.graph-canvas {
    margin-top: 50px;
}

@media screen  and (min-width: 600px) { 
    button{ width: 90px;
    font-size: 1.5rem;
}

   
    .card-container{
        grid-template-columns: 1fr 1fr;
        
    }
    .button-container{
        grid-template-columns: 4fr 1fr ;

}
}
@media screen  and (min-width: 650px) { 
    .add-remove-tracker{
      justify-self: end;
}
    .filter-buttons{
        justify-self: start;
}
    
    .button-container{
        margin: 2rem 2.5%;

}

}
@media screen  and (min-width: 900px) { 
    
    .card-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
.delete select{
    margin-top: 1rem;
    width: 102px
}
    button{
    margin: 1rem;
    width: 102px;
}
}

@media screen  and (min-width: 1200px) { 
    
    .card-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen  and (min-width: 1500px) { 
    
    .card-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.card-context-menu {
    display: none;
    position: absolute;
    border: 1px;
    background-color:var(--background);
    z-index: 3;
}

 .card-context-menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-context-menu-item {
    display: block;
    color: var(--foreground);
    padding: 10px;
}

.card-context-menu-item:hover {
    background-color: var(--clr-purple);
    cursor: pointer;
}